<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet"href="News.css">
		<script src="jsName.js"></script>
		<title>My Website</title>
	</head>
	<body>		
		<div id="h1">
            <a id="word" href="/index/">project title</a>             
        </div>
		<div id="pic">圖片
			<div class="search">
				<input type="text" name="s" value=""><button>&nbsp;</button>					
			</div>
		</div>
		<div id="container">
			<div id="header">
							
			</div>								
			<div id="menu">		
				<div id="content">content1
					<a>議題熱度指數</a>
				</div>
				<div id="content">content2
					<a>意見領袖</a>
				</div>				
			</div>
			<div id="sidebar">
				<div id="content" style="width:93%">content3
					<a>議題關聯新聞</a>
				</div>				
			</div>
		
		<div id="footer">footer</div>
		
		</div>
	</body>
</html>
<!--template.html-->