body{
    background-color:steelblue;
}

div#h1{
    width:100%; 
    background-color:yellow;
    padding-top:0.3%;
    margin-bottom:2%;
    text-align:center;  
}

div#h1 a#word{
    font-size:3em;
    text-decoration: none;
    color:blue;
    font-family:vineta BT;
}

div#pic{
    width:60%;
    height:100%;
    margin:auto;
    background-color:pink;
}

/*-------------------------- 主體 ----------------------------*/

div#header{
    width:100%;
    
}

div#container{
    width:100%;
    height:50em;
}

div#menu {
    background-color:#ffff99;
    height:50%;
    width:100%;
    float:left;
    margin-top:2%;
}

div#sidebar {
    background-color:#ffff99;
    height:55%;
    width:100%;
    float:left;
    margin-top:0;
}


div#content {
    background-color:#EEEEEE;
    height:94%;
    width:47%;
    float:left;
    margin-left:2%;
    margin-top:1%;
    position:relative; 
}

div#footer {
    background-color:#99bbbb; 
    clear:both; 
    text-align:center;
}

/*-------------------------- 內文 ----------------------------*/



/*-------------------------- search ----------------------------*/
.search{
     background:url("../images/bg-search-form2.gif");
     background-position:center;
     background-repeat:no-repeat;
     width:250px;
     height:40px;
     margin-left:102%;
     margin-top:-2%;
     margin-bottom:3px;
  }
  
.search input{
    background:url("../images/input-search2.gif");
     background-position:center;
     background-repeat:no-repeat;
     width:140px; 
     padding: 8px 5px;
     border:0;
     margin:5px 3px 5px 10px;
     font-size:14px;
     font-family:"Myriad Pro";
     color:#7f7154;
     
  }
  
.search button{
     background:url("../images/buttons.gif");
     background-position: 0 -270px;
     background-repeat:no-repeat;
     width:80px; 
     height:30px;
     border:0;
     margin:5px 5px 5px 0;
     cursor:pointer;
  }  

