body{
    background-color:white;
    color:yellow; 
    font-family:Meiryo, "微軟正黑體", "Microsoft JhengHei";
}
h1{
	color:white;
	text-align:center;
}
div#h1{
    width:80%; 
    background-color:white;
    margin: 0px auto;
    padding-top:0.3%;
    margin-bottom:1%;
    text-align:center;   
}

div#h1 a#word{
    font-size:3em;
    text-decoration: none;
    color:black;
    font-family:'Archivo Narrow',serif;
    font-weight: bolder;
}
div#h1 a#word span{
    font-size:2em;
    
    
    color:blue;
    font-family:fantasy;
}
#pic{
    width:100%;
    display: block;
    
    height:500px;
    margin:auto;
    background-color:blue;
}


/*-------------------------- 主體 ----------------------------*/

div#header{
    width:100%;
    
}

div#container{
    width:100%;
    height:50em;    
}

div#menu {
    background-color:#b0c4de;
    height:100%;
    width:100%;
    float:left;
    margin-top:0%;
}


div#content {
	background-color:black;
    font-color:yellow;
    height:100%;
    width:30%;
    float:left;
    margin-left:2.5%;
    margin-top:2%;
    
}

div#footer {
    background-color:steelblue;
    
    height:200px;   
    clear:both; 
    /* text-align:center; */
}

div#footer-about{
    margin:0px auto;
    color:white;
    margin-left:38%;
    float:left;
    width:200px;
}
div#footer-contact{
    color:white;
   
    margin-left:auto;
    float:left;
    
}
/*-------------------------- 內文 ----------------------------*/
div#content div {
   /* margin-top:4%; 
    margin-left:-5%; 
    */
}

div#content ul {
    font-weight:bolder; 
    text-align: left;      
    top:0%;
    
    
}

div#content div .push {
    font-size:120%;     
    font-family:KaiTi;    
    float:left;
    width:12%;     
    margin:auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       
}

div#content div.topic {   	
    width:100%;
    margin:auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            
}


div#content div a.topic {
    font-size:120%; 
    color:white;
    font-family:Meiryo, "微軟正黑體", "Microsoft JhengHei";
    line-height:2em;
    
}

div#content div a.news {
    font-size:120%; 
    color:white;
    font-family:Meiryo, "微軟正黑體", "Microsoft JhengHei";
   
   
   
}

/*-------------------------- search ----------------------------*/
.search{
     background:url("../images/bg-search-form2.gif");
     background-position:center;
     background-repeat:no-repeat;
     width:250px;
     height:40px;
     margin-left:102%;
     margin-top:-2%;
     margin-bottom:3px;
  }
  
.search input{
    background:url("../images/input-search2.gif");
     background-position:center;
     background-repeat:no-repeat;
     width:140px; 
     padding: 8px 5px;
     border:0;
     margin:5px 3px 5px 10px;
     font-size:14px;
     font-family:"Myriad Pro";
     color:#7f7154;
     
  }
  
.search button{
     background:url("../images/buttons.gif");
     background-position: 0 -270px;
     background-repeat:no-repeat;
     width:80px; 
     height:30px;
     border:0;
     margin:5px 5px 5px 0;
     cursor:pointer;
  }  


div#hotwordcloud svg {
	margin-left:60px;
	
}
